openapi: 3.0.0
info:
  title: Zuydbot API
  version: 1.0.0
  contact:
    name: Alain Lardinois
    email: zuydbot@ip-ict.nl
    url: 'https://zuydbot.cc'
  description: >-
    Met de Zuydbot API kun je deadlines direct uit de database halen voor eigen
    gebruik, of voor je eigen bot.

    Registreer nu je eigen API key >> https://api.zuydbot.cc/v1/new
externalDocs:
  url: 'http://docs.zuydbot.cc'
security:
  - api_key: []
servers:
  - url: 'http://api.zuydbot.cc/v1'
    description: ''
paths:
  /deadlines/all:
    post:
      summary: Haal alle deadlines op
      description: >-
        Haal alle deadlines op uit de database die gekoppeld zijn aan je unieke
        API key
      parameters: []
      operationId: ZuydbotAPI.get_all
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                status: OK
                deadlines:
                  '1':
                    course: B2A1
                    date: 09-10-2019
                    description: PI7 Portfolio moet worden ingeleverd
                  '2':
                    course: B2A2
                    date: 12-10-2019
                    description: PI3 Uitwerkingenset moet worden ingeleverd
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                status: Failed
                error: Invalid API key
      tags:
        - Deadlines
    summary: Haal deadlines op
  /deadlines/bytag:
    summary: Haal deadlines op
    description: ''
    post:
      summary: Haal gefilterde deadlines op
      description: >-
        Haal alle deadlines op uit de database die voldoen aan de filters vak en
        datum
      parameters:
        - name: course
          in: query
          required: false
          schema:
            type: string
          description: Kies een vak
          allowEmptyValue: true
        - name: date
          in: query
          required: false
          schema:
            type: string
          description: Kies een datum
          format: B2A2
          allowEmptyValue: true
      operationId: API.by_tag
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                status: OK
                deadlines:
                  '1':
                    course: B2A1
                    date: 09-10-2019
                    description: PI9 Uitwerkingenset moet worden ingeleverd
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                status: Failed
                error: Invalid API key
      tags:
        - Deadlines
components:
  links: {}
  callbacks: {}
  schemas: {}
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
tags:
  - name: Deadlines
