{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "http://api.zuydbot.cc/v1"
        }
    ],
    "info": {
        "description": "Met de Zuydbot API kun je deadlines direct ophalen uit de database. Lees meer over Zuydbot op de website [https://zuydbot.cc](https://zuydbot.cc).",
        "version": "1.0.0",
        "title": "Zuydbot API",
        "termsOfService": "",
        "contact": {
            "email": "zuydbot@ip-ict.nl",
            "name": "Alain Lardinois",
            "url": "https://zuydbot.cc"
        }
    },
    "tags": [
        {
            "name": "Deadlines",
            "description": "Alle deadlines geïmporteerd vanuit Moodle."
        }
    ],
    "paths": {
        "/deadlines/all": {
            "get": {
                "summary": "Haal alle deadlines op.",
                "description": "Haal alle geïmporteerde deadlines op uit de database die gekoppeld zijn aan jouw unieke API key.",
                "parameters": [],
                "operationId": "API.get_all",
                "responses": {
                    "200": {
                        "description": "Default response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "status": "OK",
                                    "deadlines": {
                                        "1": {
                                            "course": "B2A2",
                                            "date": "06-08-2019",
                                            "description": "PI7 moet worden ingeleverd"
                                        },
                                        "2": {
                                            "course": "B2D1",
                                            "date": "09-10-2019",
                                            "description": "PI3 moet worden ingeleverd"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "error": "Invalid API key",
                                    "status": "Failed"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Deadlines"
                ]
            }
        },
        "/deadlines/byTags": {
            "get": {
                "summary": "Haal gefilterde deadlines op.",
                "description": "Haal alle geïmporteerde deadlines op uit de database en filter deze op vak en datum.",
                "parameters": [
                    {
                        "name": "course",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Kies een vak waaraan de deadline gekoppeld moet zijn.",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Kies een datum waarop de deadline moet vallen.",
                        "allowEmptyValue": true,
                        "format": "01-01-1970"
                    }
                ],
                "operationId": "API.get_by_tags",
                "responses": {
                    "200": {
                        "description": "Default response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "status": "OK",
                                    "deadlines": {
                                        "1": {
                                            "course": "B2A9",
                                            "date": "09-12-2019",
                                            "description": "PI8 moet worden ingeleverd."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "error": "Invalid API key",
                                    "status": "Failed"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Deadlines"
                ]
            }
        }
    },
    "externalDocs": {
        "description": "",
        "url": "http://docs.zuydbot.cc"
    },
    "components": {
        "schemas": {
            "Deadline": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "petId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "quantity": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "shipDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "status": {
                        "type": "string",
                        "description": "Order Status",
                        "enum": [
                            "placed",
                            "approved",
                            "delivered"
                        ]
                    },
                    "complete": {
                        "type": "boolean",
                        "default": false
                    }
                },
                "xml": {
                    "name": "Order"
                }
            }
        },
        "requestBodies": {
            "Pet": {
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Pet"
                        }
                    },
                    "application/xml": {
                        "schema": {
                            "$ref": "#/components/schemas/Pet"
                        }
                    }
                },
                "description": "Pet object that needs to be added to the store",
                "required": true
            },
            "UserArray": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/User"
                            }
                        }
                    }
                },
                "description": "List of user object",
                "required": true
            }
        },
        "securitySchemes": {
            "api_key": {
                "type": "apiKey",
                "name": "api_key",
                "in": "header"
            }
        },
        "links": {},
        "callbacks": {}
    },
    "security": [
        {
            "api_key": []
        }
    ]
}